# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
out/
.output/

# Environment variables
.env
.env.development
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project specific
.mastra
output.txt
*.db
.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
